





.container {
    background-color:#E8FFCE ;
    max-width: 1080px;
margin: 20px auto;
}
@media (max-width: 740px) {


.container{
max-width: 740px;

}
    
}
@media (max-width: 360px) {


    .container{
    max-width: 360px;
    
    }
        
    }